<div class="app-scrumboard-list">
    <div class="container">

        <div fxLayout="row" fxLayoutAlign="center center">
            <h3 class="container-title">Scrumboard App</h3>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-card class="scrumboard-card">
                <div class="scrumboard-card-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </div>
                <mat-card-header>
                    <mat-card-title class="scrumboard-card-title">Shiba Inu</mat-card-title>
                    <mat-card-subtitle class="scrumboard-card-text">Dog Breed</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="scrumboard-card">
                <div class="scrumboard-card-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </div>
                <mat-card-header>
                    <mat-card-title class="scrumboard-card-title">Shiba Inu</mat-card-title>
                    <mat-card-subtitle class="scrumboard-card-text">Dog Breed</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="scrumboard-card">
                <div class="scrumboard-card-icon">
                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                        <mat-icon>add</mat-icon>
                      </button>
                </div>
                <mat-card-header>

                    <mat-card-subtitle class="scrumboard-card-text">add new board</mat-card-subtitle>
                </mat-card-header>
            </mat-card>

        </div>
    </div>
</div>